<!DOCTYPE html>
<html>
  <%- include('head.ejs') %>
  <body>
    <%- include('header.ejs')%>
    <form method="post" class="form">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= email %>"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <button class="btn">Submit</button>
    </form>
    <% if (error) { %>
    <pre><%= error %></pre>
    <% } %>
  </body>
</html>
